.sidebar{
    background-color:white;
    height: 100%;
    
    overflow-y: auto;
    padding-left:20px ;
    border: transparent !important;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 80px ; 
    
}

.sidebar-title{
    font-weight: bold;
    font-size: larger;
    padding-top: 20px ;
    
}

.search-img{
    width: 20px;
    height: 20px;
    color: aliceblue;
    background-color: rgb(227, 209, 238);
    padding: 10px;
    margin-left: 8px;
    cursor: pointer;
    
    
}

.search-img:hover{
    background-color:rgb(200, 168, 219) ;
}
input::placeholder{
    
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.search{
    margin: 20px 0px;
    max-width: 90% ;
    display: flex;

    
}

.searchName{
    background-color: rgb(250, 248, 248);
    border-radius: 0px;
    border-bottom: 1px solid rgb(80, 69, 82);
    outline: none;
    max-width: 90% ;
    color: black;
}
.userlist{
    margin-top: 20px;
    font-weight: bold;
    grid: 9;
}

.user-content{
    display: flex;
    margin-top: 10px;
    
}

.user-pic{
    flex: 2;
}

.user-name{
    flex: 9;
    position: relative;
    top: 4px;
    font-size: small;
    cursor: pointer;
}

.user-content:hover{
    background-color:rgb(156, 180, 248);
    border-radius: 5px;
    padding: 6px 4px 2px 4px;
    margin-right: 20px;
}



