.sidebar{
    background-color:rgb(137, 114, 143, 0.2);
    height: 100%;
    color: white;
    overflow-y: auto;
    padding-left:20px ;
    border: transparent !important;
    
}

.sidebar-title{
    font-weight: bold;
    font-size: larger;
    padding-top: 20px ;
    
}

.search-img{
    width: 20px;
    height: 20px;
    color: aliceblue;
    background-color: rgb(227, 209, 238);
    padding: 10px;
    margin-left: 8px;
    cursor: pointer;
    
}

.search-img:hover{
    background-color:rgb(200, 168, 219) ;
}
input::placeholder{
    color: rgb(233, 231, 234);
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.search{
    margin: 10px 0px;
    max-width: 90% ;
    display: flex;

    
}

.searchName{
    background-color:  rgb(173, 161, 177);
    border-radius: 5px;
    border: transparent;
    outline: none;
    max-width: 90% ;
    color: white;
}
.userlist{
    margin-top: 20px;
    font-weight: bold;
}

.user-content{
    display: flex;
    margin-top: 10px;
    
}

.user-pic{
    flex: 2;
}

.user-name{
    flex: 9;
    position: relative;
    top: 6px;
    font-size: small;
    cursor: pointer;
}

.user-content:hover{
    background-color:rgb(132, 96, 141);
    border-radius: 20px;
    padding: 2px;
    margin-right: 20px;
}



