.login{
    
    
}

.wrapper{
    background-color: rgb(242, 235, 248 , 0.7);
  position: absolute; /* Position the div relative to its closest positioned ancestor */
  top: 50%; /* Move the top of the div to the middle of the parent container */
  left: 50%; /* Move the left of the div to the middle of the parent container */
  transform: translate(-50%, -50%);
  padding: 100px 70px;
  border-radius: 20px;
}

.login-header ,.login-img{
    display: flex; 
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.login-contents{
    margin: 20px;
}

.login-content{
    margin: 20px;
    padding: 4px ;
    
}

.loginInput{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: transparent !important;
    outline: none;
}

.loginButton{
    padding: 10px 140px;
    margin-left: 10px;
    background-color: rgb(29, 125, 236);
    font-weight: 600;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}