.home{
  
}

.homewrapper{
  
  margin: 50px 200px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  height: 78vh;
  grid-gap: 20px;
  
}

.sidebar-item{
  flex: 4;
  
}

.chatwindow-item{
  flex: 9;
}
