.register{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  margin: auto;
  width: 40%;

  

}

.wrapper{
  margin: 10px;
  padding: 40px;
}
.register-content{
    padding: 10px;
    
}

.register-header{
    color:black;
}



input ,label{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: transparent;
    color: #ddd;
    border-radius: 20px;
    outline:none
}

input[type="file"] {
 opacity: 0; 
 position: absolute; 
}
#mySelect{
    width: 105%;
    padding: 10px 20px;
    background-color: white;
    border: transparent;
    color: black;
    border-radius: 20px;
    color: #ddd;   
}

#mySelect option {
  padding: 40px; /* Add padding */
  background-color:white; /* Set background color */
  color: #333;
  border-radius: 10px/* Set text color */
}


#Regbutton{
  width: 80%;
  padding: 10px;
  background-color: #3e610c;
  border: transparent;
  color: black;
  border-radius: 20px;
  color: #ddd;
  margin: 10px;
  cursor: pointer;
  
}





